.dataGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #eee;

  .dataGrid-row {
    display: flex;
    height: 2.25em;
  }
  .dataGrid-cell {
    width: 10em;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    &:first-child {
      border-left: 1px solid #eee;
    }
  }

  .dataGrid-header {
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    .dataGrid-cell {
      font-weight: bold;
      background-color: #d6d6d6;
    }
  }

  .dataGrid-body {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 0;
    height: calc(100% - 2.25em);
    .dataGrid-row {
      &.active {
        .dataGrid-cell {
          background-color: rgb(216, 229, 240);
        }
      }
      &:hover {
        .dataGrid-cell {
          background-color: #eee;
        }
      }
    }
  }
}
